.filter-container {
  display: flex;
  align-items: center;
}

.filter-container > * {
  margin-right: 0.5rem;
}

.filter-container > button {
  height: 2rem;
  width: 2rem;
  padding: 0;
}

.filter {
  padding: 0.5rem;
}
