.input-container {
  display: flex;
  align-items: center;
}

.input-container > * {
  margin-right: 0.5rem;
}

.input-container > *:last-child {
  margin-right: 0;
}

.input-container > button {
  height: 2rem;
  width: 2rem;
  padding: 0;
}

.input {
  padding: 0.5rem;
}
