.table,
.table-cell {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

table {
  margin: 0;
}

.table-cell {
  padding: 10px;
}

.table-cell.heading {
  background-color: darkgreen;
  color: white;
}
