.table,
.table-cell {
  text-align: center;
  border-collapse: collapse;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 10px#eee;
}

.table-cell {
  padding: 10px;
}
tr {
  border-bottom: 1px solid #eee;
}
tr:nth-child(even) {
  background-color: hsl(0, 0%, 97%);
}

.table-cell.heading {
  background-color: var(--main-color);
  color: white;
}
