.table,
.table-cell {
  text-align: center;
  border-collapse: collapse;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 10px#eee;
}

.table-cell {
  padding: 10px 20px;
}
tr {
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
tr:nth-child(even) {
  background-color: hsl(0, 0%, 97%);
}
tr:hover {
  background-color: rgb(151, 189, 151);
  color: white;
}

tr > *:last-child {
  color: transparent;
}
tr:hover > *:last-child {
  color: black;
}
.expanded > *:last-child {
  color: black;
}

.table-cell.heading {
  background-color: var(--main-color);
  color: white;
}
